/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/csb-pl.autobil.bin
/csb-pl.autogen.bin
/csb-pl.automorf.bin
/csb-pl.autopgen.bin
/csb-pl.mode
/csb-pl.t1x.bin
/csb-pl.t2x.bin
/csb-pl.t3x.bin
/install-sh
/missing
/modes
/pl-csb.autobil.bin
/pl-csb.autogen.bin
/pl-csb.automorf.bin
/pl-csb.autopgen.bin
/pl-csb.mode
/pl-csb.t1x.bin
/pl-csb.t2x.bin
/pl-csb.t3x.bin
/stamp-h1
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/ap_include.am
/*-*.prob
/.deps
/test/*-output.txt
